<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>English_Lang.Flow.Payment_method.Wire_Transfer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>search</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WT_booking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>voucher</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>receipt_upload</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>guest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Paymode_selection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>declaration</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
