<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.Paymode_selection()[pri:7, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">Paymode_selection</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:05:33</td>   <td>-31004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.WT_booking()[pri:5, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">WT_booking</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:04:29</td>   <td>-95004</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Wire_Transfer.declaration()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&gt;&gt;declaration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endMethod()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:29</td>   <td>25408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Wire_Transfer.endTest()[pri:0, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:05:57</td>   <td>-7342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.guest()[pri:6, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">guest</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:04:31</td>   <td>-93384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.launch()[pri:2, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">launch</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:04:40</td>   <td>-84438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.login()[pri:3, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">login</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:20</td>   <td>16286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.receipt_upload()[pri:9, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">receipt_upload</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:05:17</td>   <td>-46938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.search()[pri:4, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">search</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:04:31</td>   <td>-93399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.start()[pri:1, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">start</td> 
  <td>main@1556956098</td>   <td></td> </tr>
<tr bgcolor="706b80">  <td>23/06/08 11:06:12</td>   <td>8230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wire_Transfer.voucher()[pri:8, instance:English_Lang.Flow.Payment_method.Wire_Transfer@4d1c005e]">voucher</td> 
  <td>main@1556956098</td>   <td></td> </tr>
</table>
