<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>English_Lang.Landing_Page</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Home_page_text_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>book_now</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>booking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Signoff</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Why_choose_us_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Title_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>description</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Covid_Measures_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>space</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>amenities_ver</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>policy_ver</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>URL_Launch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Header_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Profileedit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>view_booking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CIB</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>image</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Footer_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Hotel_search</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>popular_sr</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Carousel_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>various_section_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>roomtype</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>booking_confirmation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>filter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cancellation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cancellation_policy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Help_Section_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Amenities</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
