<h2>Methods that were not run</h2><table>
<tr><td>English_Lang.Namlatic_Login.login</td></tr>
<tr><td>English_Lang.Hotel_Filter.Amenities</td></tr>
<tr><td>English_Lang.Hotel_Filter.filter</td></tr>
<tr><td>English_Lang.Hotel_Filter.popular_sr</td></tr>
</table>